{{!
  Copyright (c) HashiCorp, Inc.
}}

<PageHeader
  @title="List Item Template"
  @figma="https://www.figma.com/file/SenC8kTQNUJKCvOvcL8WPu/Consul-Component-Library?type=design&node-id=722-120845&t=YhNf39KC0C4MRjwb-0"
  @github="https://github.com/hashicorp/consul-ui-toolkit/blob/main/toolkit/src/components/cut/list-item/template/index.hbs"
>
  The List Item Template is meant to be used as a reusable pattern to create
  both visually and functionally consistent List Items. This component is
  primarily used as a template to create List Items for most Consul specific
  features.
</PageHeader>
<Hds::Tabs as |T|>
  <T.Tab>Guidelines</T.Tab>
  <T.Tab>Anatomy</T.Tab>
  <T.Tab>Code</T.Tab>
  <T.Panel>
    <div class="doc-Page">
      <div class="doc-Page-content">
        <h2 id="usage">Usage</h2>

        <h3 id="when-to-use">When to use</h3>
        <ul>
          <li>A List Item Template will most commonly be used within a
            <Hds::Link::Inline @route="components.list-item">List Item
              (container)</Hds::Link::Inline>. It can also be nested within
            other components as a template.</li>
        </ul>
        <img
          src="/images/list-item-template-usage.svg"
          alt="List Item demo with List Item Template being used inside of it"
        />

        <h3 id="when-not-to-use">When not to use</h3>
        <ul>
          <li>When your content within is more than 3 lines tall, consider
            creating your own template.</li>
          <li>If you need to make use of styles or nested components that are
            not already available within the template.</li>
        </ul>

        <h2 id="interactivity-and-actions">Interactivity & actions</h2>
        <p>By default the List Item Template is static in nature. Interactivity
          can be applied to elements within, but should adhere to the following
          guidelines.</p>

        <h3 id="tooltips">Tooltips</h3>
        <p>Tooltips can be paired with the template for text, icon, or badge
          elements that need to provide more context on hover. For example, when
          the List Item Template is within a List Item (container).</p>
        <img
          src="/images/list-item-template-tooltips.svg"
          alt="Demonstration of tooltips on the List Item Template"
        />

        <h3 id="interactivity-specific-elements">Interactivity on a specific
          element</h3>
        <ul>
          <li>
            If paired with the List Item (container) the state of the container
            should be set to “static”, meaning that clicking on the entire list
            is non-interactive and only individual elements would be.
          </li>
          <li>
            On hover of clickable data, the background color of the object
            hovered should change to
            <Hds::Link::Inline
              @href="https://helios.hashicorp.design/foundations/colors?tab=palette#surface-1"
            >“Surface/interactive-hover”</Hds::Link::Inline>. If the action is
            to copy text then the default copy icon will show.
          </li>
          <li>
            When adding interactivity to an individual element such as a piece
            of text, consider adding a link style (underline or color change) to
            signify that it is interactive if this is the main action of the
            list item.
          </li>
        </ul>

        <img
          src="/images/list-item-template-interactivity.svg"
          alt="Demonstration of List Item Template interactivity"
        />

        <h2 id="color">Color</h2>
        <h3 id="transparent-background">Transparent background</h3>
        <p>The List Item Template has a transparent background color by default.
          It is set to transparent so it utilizes the background color of
          whatever component it is nested within. This can be changed manually
          as needed.</p>
        <h3 id="title">Title</h3>
        <p>Any text used within the “title” should use HDS text style of
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/foundations/colors?tab=palette#foreground-1"
          >“Foreground/Strong”</Hds::Link::Inline>.</p>
        <h3 id="description">Description</h3>
        <p>Any text used within the “description” should use HDS text style of
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/foundations/colors?tab=palette#foreground-1"
          >“Foreground/Faint”</Hds::Link::Inline>.</p>
        <h3 id="icons">Icons</h3>
        <p>Any icon used should use the coloring as stated above based on the
          section they are within. Exceptions to this rule are if the icon is
          representing a company or brand logo, or if the icon is representing a
          status.</p>
        <h2 id="size">Size</h2>
        <p>The template horizontal and vertical size preferences can be modified
          depending on the placement of the template. When paired with the list
          Item component use the height and width suggestions listed below.</p>

        <img
          src="/images/list-item-template-content.svg"
          alt="List Item Template size guidelines"
        />
        <img
          src="/images/list-item-template-padding.svg"
          alt="List Item Template padding guidelines"
        />
        <h3 id="height">Height</h3>
        <p>The default height of the template is 56px for desktop (large) screen
          sizes, this is the recommended max limit for the height of this
          component.</p>
        <h3 id="width">Width</h3>
        <p>The width of the list item should “fill” the entire section that it
          is placed within.
        </p>
        <Hds::Alert @type="inline" @color="highlight" as |A|>
          <A.Title>
            It is important to keep list items that are displayed on the same
            page a consistent size (height and width).</A.Title>
        </Hds::Alert>
        <h3 id="responsive">Responsive layout</h3>
        <p>The List Item Template has two states, “Large” and “”Small”.</p>
        <h3 id="large">Large (default)</h3>
        <p>The large variant will fill the entire width of whichever it is
          contained within by default.
        </p>
        <img
          src="/images/list-item-template-responsive-large.svg"
          alt="List Item Template should fill the entired width of it's container on larger screens."
        />
        <h3 id="small">Small (mobile)</h3>
        <p>The small variant will have a max width of 318px, when placed in a
          container you will need to set the container width to “hug”.</p>
        <img
          src="/images/list-item-template-responsive-small.svg"
          alt="List Item Template small details"
        />
      </div>
      <InPageNav as |I|>
        <I.Link @section="#usage" @depth={{1}}>Usage</I.Link>
        <I.Link @section="#when-to-use" @depth={{2}}>When to use</I.Link>
        <I.Link @section="#when-not-to-use" @depth={{2}}>When not to use</I.Link>
        <I.Link @section="#interactivity-and-actions" @depth={{1}}>Interactivity
          & actions</I.Link>
        <I.Link @section="#tooltips" @depth={{2}}>Tooltips</I.Link>
        <I.Link
          @section="#interactivity-specific-elements"
          @depth={{2}}
        >Interactivity on a specific element</I.Link>
        <I.Link @section="#color" @depth={{2}}>Color</I.Link>
        <I.Link @section="#transparent-background" @depth={{2}}>Transparent
          background</I.Link>
        <I.Link @section="#title" @depth={{2}}>Title</I.Link>
        <I.Link @section="#description" @depth={{2}}>Description</I.Link>
        <I.Link @section="#icons" @depth={{2}}>Icons</I.Link>
        <I.Link @section="#size" @depth={{1}}>Size</I.Link>
        <I.Link @section="#height" @depth={{2}}>Height</I.Link>
        <I.Link @section="#width" @depth={{2}}>Width</I.Link>
        <I.Link @section="#responsive" @depth={{2}}>Responsive</I.Link>
        <I.Link @section="#large" @depth={{2}}>Large (default)</I.Link>
        <I.Link @section="#small" @depth={{2}}>Small (default)</I.Link>
      </InPageNav>
    </div>
  </T.Panel>
  <T.Panel>
    <div class="doc-Page">
      <div class="doc-Page-content">
        <h2 id="type">Type</h2>
        <div class="doc-list-item-template-types">
          <p>Large <br />(Desktop)</p>
          <Cut::ListItem::Template as |T|>
            <T.Section as |Section|>
              <Section.Icon @name="hexagon" />
              <Section.Title>Title</Section.Title>
              <Section.Metadata>
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
              </Section.Metadata>
            </T.Section>
            <T.Badge @icon="hexagon" @text="Default" />
            <T.SecondSection as |Section|>
              <Section.Icon @name="hexagon" />
              <Section.Title>Title</Section.Title>
              <Section.Metadata>
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
              </Section.Metadata>
            </T.SecondSection>
          </Cut::ListItem::Template>
          <p>Small<br />(Mobile)</p>
          <Cut::ListItem::Template
            class="doc-list-item-template-types_small"
            as |T|
          >
            <T.Section as |Section|>
              <Section.Icon @name="hexagon" />
              <Section.Title>Title</Section.Title>
              <Section.Metadata>
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
              </Section.Metadata>
            </T.Section>
            <T.Badge @icon="hexagon" @text="Default" />
            <T.SecondSection as |Section|>
              <Section.Icon @name="hexagon" />
              <Section.Title>Title</Section.Title>
              <Section.Metadata>
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
                <Cut::TextWithIcon @icon="hexagon" @text="IconLabel" />
              </Section.Metadata>
            </T.SecondSection>
          </Cut::ListItem::Template>
        </div>
        <h2 id="component-anatomy">Component anatomy</h2>
        <p>The List Item Template is made up from nested components. Below is
          the anatomy for the individual components. For more details on their
          respective APIs, view the component API section under the code tab.</p>

        <h3 id="section">Label</h3>
        <p>The List Item Template Section is the primary part of the template.
          It consists of a title, and an optional icon for the title, as well as
          an area to place metadata like badges, labels, etc. There are two
          available Sections in the List Item Template. The first is required
          and is available via the
          <CodeInline @code="Section" />
          contextual component. The second Section is optional and can be used
          via the
          <CodeInline @code="SecondSection" />
          contextual component.</p>
        <img
          src="/images/list-item-template-section.svg"
          alt="List Item Template Section Anatomy"
        />

        <h3 id="connection-method">Connection Method</h3>
        <p>
          The List Item Template provides two different component options for
          the Connection Method, an
          <CodeInline @code="Icon" />
          and a
          <CodeInline @code="Badge" />. Both using the
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/icons/usage-guidelines"
          >Icon</Hds::Link::Inline>
          and
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/components/badge"
          >Badge</Hds::Link::Inline>
          components from HDS respectively. The connection Method option is only
          available if the second section is visible and will be displayed
          between each section.
        </p>
        <div class="doc-list-item-template-connection-method-anatomy">
          <img
            src="/images/list-item-template-connection-method-badge.svg"
            alt="List Item Template connection method badge"
          />
          <img
            src="/images/list-item-template-connection-method-icon.svg"
            alt="List Item Template connection method icon"
          />
        </div>
      </div>
      <InPageNav as |I|>
        <I.Link @section="#type">Type</I.Link>
        <I.Link @section="#component-anatomy">Component anatomy</I.Link>
        <I.Link @section="#section" @depth={{2}}>Section</I.Link>
        <I.Link @section="#connection-method" @depth={{2}}>Connection method</I.Link>
      </InPageNav>
    </div>
  </T.Panel>
  <T.Panel>
    <div class="doc-Page">
      <div class="doc-Page-content">
        <h2 id="how-to-use">How to use this component</h2>
        <p>The List Item Template is composed of several contextual components.
          Primarily the Section, followed by an optional Badge or Icon and a
          second Section. The List Item Template will most commonly be used
          within a
          <Hds::Link::Inline @route="components.list-item">List Item (container)</Hds::Link::Inline>.
          It can also be nested within other components as a template.</p>

        <PreviewBlock as |P|>
          <P.Preview>
            <ul class="doc-list-items-demo">
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |Section|>
                      <Section.Icon @name="hexagon" />
                      <Section.Title>A List Item Template using only the title
                        and icon</Section.Title>
                    </T.Section>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Example in a List Item</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Example metadata"
                        />
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Example metadata"
                        />
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Example metadata"
                        />
                      </section.Metadata>
                    </T.Section>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
            </ul>

            <div class="doc-list-item-template-div">
              <Cut::ListItem::Template as |T|>
                <T.Section as |section|>
                  <section.Icon @name="hexagon" />
                  <section.Title>Example in a regular div</section.Title>
                  <section.Metadata>
                    <Cut::TextWithIcon
                      @icon="hexagon"
                      @text="Example metadata"
                    />
                    <Cut::TextWithIcon
                      @icon="hexagon"
                      @text="Example metadata"
                    />
                    <Cut::TextWithIcon
                      @icon="hexagon"
                      @text="Example metadata"
                    />
                  </section.Metadata>
                </T.Section>
              </Cut::ListItem::Template>
            </div>
          </P.Preview>
          <P.Code
            @code={{{'
            <ul>
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |Section|>
                      <Section.Icon @name="hexagon" />
                      <Section.Title>A List Item Template using only the title and
                        icon</Section.Title>
                    </T.Section>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Example in a List Item</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Example metadata"
                        />
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Example metadata"
                        />
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Example metadata"
                        />
                      </section.Metadata>
                    </T.Section>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
            </ul>
            <div class="doc-list-item-template-div">
              <Cut::ListItem::Template as |T|>
                <T.Section as |section|>
                  <section.Icon @name="hexagon" />
                  <section.Title>Example in a regular div</section.Title>
                  <section.Metadata>
                    <Cut::TextWithIcon
                      @icon="hexagon"
                      @text="Example metadata"
                    />
                    <Cut::TextWithIcon
                      @icon="hexagon"
                      @text="Example metadata"
                    />
                    <Cut::TextWithIcon
                      @icon="hexagon"
                      @text="Example metadata"
                    />
                  </section.Metadata>
                </T.Section>
              </Cut::ListItem::Template>
            </div>
          '}}}
          />
        </PreviewBlock>

        <h3 id="multiple-sections">Multiple sections</h3>
        <p>You can apply a second label by using the
          <CodeInline @code="SecondSection" />
          contextual component and either a
          <CodeInline @code="Badge" />
          or a
          <CodeInline @code="Icon" />
          divider.</p>
        <PreviewBlock as |P|>
          <P.Preview>
            <ul class="doc-list-items-demo">
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 1</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 1" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 2" />
                      </section.Metadata>
                    </T.Section>
                    <T.Badge @text="Default badge" />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 4" />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 1</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 1" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 2" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                      </section.Metadata>
                    </T.Section>
                    <T.Icon @name="arrow-right" />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 4" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 5" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 6" />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
            </ul>
          </P.Preview>
          <P.Code
            @code={{{'
            <ul class="doc-list-items-demo">
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 1</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 1" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 2" />
                      </section.Metadata>
                    </T.Section>
                    <T.Badge @text="Default badge" />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 4" />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 1</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 1" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 2" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                      </section.Metadata>
                    </T.Section>
                    <T.Icon @name="arrow-right" />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 4" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 5" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 6" />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
            </ul>
            '}}}
          />
        </PreviewBlock>

        <h3 id="using-tooltips">Tooltips</h3>

        <p>You may apply a tooltip to the text, icons, and badges to provide
          more context on hover, by using the
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/components/tooltip?tab=code#hds-tooltip-modifier"
          >HDS Tooltip modifier</Hds::Link::Inline>.</p>

        <PreviewBlock as |P|>
          <P.Preview>
            <ul class="doc-list-items-demo">
              <Cut::ListItem as |L|>
                <L.Content
                  {{hds-tooltip
                    "This tooltip is on the entire List Item Content"
                  }}
                >
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Title</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                      </section.Metadata>
                    </T.Section>
                    <T.Badge @text="Default" @icon="hexagon" />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 4" />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title
                        {{hds-tooltip "This tooltip is on the title text"}}
                      >Title</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                      </section.Metadata>
                    </T.Section>
                    <T.Badge
                      @text="Default"
                      @icon="hexagon"
                      {{hds-tooltip "This tooltip is on the badge seperator"}}
                    />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Metadata 4"
                          {{hds-tooltip "This tooltip is on the metadata"}}
                        />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
            </ul>
          </P.Preview>
          <P.Code
            @code={{{'
            <ul class="doc-list-items-demo">
              <Cut::ListItem as |L|>
                <L.Content
                  {{hds-tooltip
                    "This tooltip is on the entire List Item Content"
                  }}
                >
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Title</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                      </section.Metadata>
                    </T.Section>
                    <T.Badge @text="Default" @icon="hexagon" />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 4" />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
              <Cut::ListItem as |L|>
                <L.Content>
                  <Cut::ListItem::Template as |T|>
                    <T.Section as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title
                        {{hds-tooltip "This tooltip is on the title text"}}
                      >Title</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                        <Cut::TextWithIcon @icon="hexagon" @text="Icon Label" />
                      </section.Metadata>
                    </T.Section>
                    <T.Badge
                      @text="Default"
                      @icon="hexagon"
                      {{hds-tooltip "This tooltip is on the badge seperator"}}
                    />
                    <T.SecondSection as |section|>
                      <section.Icon @name="hexagon" />
                      <section.Title>Section 2</section.Title>
                      <section.Metadata>
                        <Cut::TextWithIcon @icon="hexagon" @text="Metadata 3" />
                        <Cut::TextWithIcon
                          @icon="hexagon"
                          @text="Metadata 4"
                          {{hds-tooltip "This tooltip is on the metadata"}}
                        />
                      </section.Metadata>
                    </T.SecondSection>
                  </Cut::ListItem::Template>
                </L.Content>
              </Cut::ListItem>
            </ul>
            '}}}
          />
        </PreviewBlock>

        <h3 id="interactivity">Interactivity</h3>
        <p>You can make individual items in the List Item Template interactive.
          Reference the documentation highlighted in the guidelines tab. In the
          example below, we are achieving interactivity with the
          <CodeInline @code="<Cut::CopyBlock />" />
          component.</p>
        <PreviewBlock as |P|>
          <P.Preview>
            <Cut::ListItem as |L|>
              <L.Content>
                <Cut::ListItem::Template as |T|>
                  <T.Section as |SC|>
                    <SC.Icon @name="check-circle" />
                    <SC.Title><Cut::CopyBlock
                        @clipboardText="service-name"
                      >service-name</Cut::CopyBlock></SC.Title>
                    <SC.Metadata>
                      <Hds::Badge
                        @text="Registered via Vault"
                        @icon="vault"
                        @size="small"
                      />
                      <div>12 instances</div>
                      <Cut::CopyBlock
                        @clipboardText="in service mesh with proxy"
                      ><Cut::TextWithIcon
                          @text="in service mesh with proxy"
                          @icon="mesh"
                        /></Cut::CopyBlock>
                      <Cut::TextWithIcon
                        @text="kubernetes-api, kube"
                        @icon="tag"
                      />
                    </SC.Metadata>
                  </T.Section>
                </Cut::ListItem::Template>
              </L.Content>
            </Cut::ListItem>
          </P.Preview>
          <P.Code
            @code={{{'
            <Cut::ListItem as |L|>
              <L.Content>
                <Cut::ListItem::Template as |T|>
                  <T.Section as |SC|>
                    <SC.Icon @name="check-circle" />
                    <SC.Title><Cut::CopyBlock
                        @clipboardText="service-name"
                      >service-name</Cut::CopyBlock></SC.Title>
                    <SC.Metadata>
                      <Hds::Badge
                        @text="Registered via Vault"
                        @icon="vault"
                        @size="small"
                      />
                      <div>12 instances</div>
                      <Cut::CopyBlock
                        @clipboardText="in service mesh with proxy"
                      ><Cut::TextWithIcon
                          @text="in service mesh with proxy"
                          @icon="mesh"
                        /></Cut::CopyBlock>
                      <Cut::TextWithIcon
                        @text="kubernetes-api, kube"
                        @icon="tag"
                      />
                    </SC.Metadata>
                  </T.Section>
                </Cut::ListItem::Template>
              </L.Content>
            </Cut::ListItem>
          '}}}
          />
        </PreviewBlock>

        <h2 id="component-api">Component API</h2>
        <p>The List Item Template yields a few different contextual components.
          Primarily it provides a
          <CodeInline @code="Section" />
          component to present the main content and an optional second
          <CodeInline @code="Section" />
          in the form of
          <CodeInline @code="SecondSection" />. It also offers optional
          seperators in via the
          <CodeInline @code="Badge" />
          and
          <CodeInline @code="Icon" />
          contextual components. We'll provide more details regarding these
          components below.</p>

        <ComponentApi @name="...attributes">
          This component supports use of
          <CodeInline @code="...attributes" />
        </ComponentApi>

        <h3 id="section-api">Section</h3>
        <p>The List Item Template Section is the primary part of the template.
          It consists of a title, as well as an option icon for the title and a
          section to place metadata like badges, labels, etc. There are two
          available Sections in the List Item Template. The first is required
          and is available via the Label contextual component. The optional
          second section can be used via the SecondSection contextual component.</p>
        <ComponentApi @name="Icon">
          The
          <CodeInline @code="Icon" />
          contextual component renders a
          <CodeInline @code="<FlightIcon />" />
          from HDS. Therefore it shares the same API. Reference the
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/icons/usage-guidelines?tab=code#how-to-use-icons"
          >HDS Icon usage documentation</Hds::Link::Inline>
          for a full guide on how to use the
          <CodeInline @code="Icon" />.
        </ComponentApi>

        <ComponentApi @name="Title" @isRequired={{true}} @type="yield">
          The
          <CodeInline @code="Title" />
          is a contextual component that yields a slot for the title portion of
          the List Item Section. You may place any content you wish into this
          block. The most common usage is text for the title.
        </ComponentApi>

        <ComponentApi @name="Metadata" @type="yield">
          The
          <CodeInline @code="Metadata" />
          contextual component yields a slot for any metadata for the List Item
          Template's Section. While this component doesn't prescribe what that
          content should be, it is often used for
          <CodeInline @code="<Hds::Badge />" />,
          <CodeInline @code="<Cut::TextWithIcon />" />,
          <CodeInline @code="<Cut::CopyBlock />" />, etc.
        </ComponentApi>

        <h3 id="section2">SecondSection</h3>
        <p><CodeInline @code="SecondSection" />
          is the second option
          <CodeInline @code="Section" />
          that is yielded by the List Item Template. It is an optional component
          and shares the exact same API as the
          <CodeInline @code="Section" />.</p>
        <h3 id="badge">Badge</h3>
        <p>The
          <CodeInline @code="Badge" />
          contextual component is used as an optional separator between the two
          <CodeInline @code="Sections" />. It renders a
          <CodeInline @code="<Hds::Badge />" />
          from HDS. Therefore, it shares the same API. Reference the
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/components/badge?tab=code"
          >HDS Badge documentation</Hds::Link::Inline>
          for a full API reference.</p>
        <h3 id="icon">Icon</h3>
        <p>The
          <CodeInline @code="Icon" />
          contextual component is used as an optional separator between the two
          <CodeInline @code="Sections" />. It renders a
          <CodeInline @code="<FlightIcon />" />
          from HDS. Therefore it shares the same API. Reference the
          <Hds::Link::Inline
            @href="https://helios.hashicorp.design/icons/usage-guidelines?tab=code#how-to-use-icons"
          >HDS Icon usage documentation</Hds::Link::Inline>
          for a full guide on how to use the
          <CodeInline @code="Icon" />.</p>
      </div>
      <InPageNav as |I|>
        <I.Link @section="#how-to-use">How to use</I.Link>
        <I.Link @section="#multiple-sections" @depth={{2}}>Multiple sections</I.Link>
        <I.Link @section="#using-tooltips" @depth={{2}}>Tooltips</I.Link>
        <I.Link @section="#interactivity" @depth={{2}}>Interactivity</I.Link>
        <I.Link @section="#component-api">Component API</I.Link>
        <I.Link @section="#section-api" @depth={{2}}>Section</I.Link>
        <I.Link @section="#section2" @depth={{2}}>SecondSection</I.Link>
        <I.Link @section="#badge" @depth={{2}}>Badge</I.Link>
        <I.Link @section="#icon" @depth={{2}}>Icon</I.Link>
      </InPageNav>
    </div>
  </T.Panel>
</Hds::Tabs>