{{!
  Copyright (c) HashiCorp, Inc.
}}

<dl class="doc-componentApi">
  <div class="doc-componentApi-name">
    <dt>Name</dt>
    <dd><Hds::Badge @text={{@name}} @type="inverted" /></dd>
  </div>

  {{#if @type}}
    <div class="doc-componentApi-type">
      <dt>Type</dt>
      <dd class="hds-font-family-mono-code">{{@type}}</dd>
    </div>
  {{/if}}

  {{#if (and @default (not @values))}}
    <div class="doc-componentApi-default">
      <dt>Default</dt>
      <dd><Hds::Badge @text={{@default}} @type="inverted" /></dd>
    </div>
  {{/if}}

  {{#if @isRequired}}
    <Hds::Badge @text="Required" class="doc-componentApi-required" />
  {{/if}}

  {{#if @values}}
    <div class="doc-componentApi-values">
      <dt>Values</dt>
      <dd>
        {{#each @values as |value|}}
          <Hds::Badge
            @text={{value}}
            @type={{if (eq value @default) "inverted" "filled"}}
          />
        {{/each}}
      </dd>
    </div>
  {{/if}}

  {{#if (has-block)}}
    <div class="doc-componentApi-description">
      <dt>Description</dt>
      <dd>{{yield}}</dd>
    </div>
  {{/if}}
</dl>