{{!
  Copyright (c) HashiCorp, Inc.
}}

<dl class="doc-component-api">
  <div class="doc-component-api-name">
    <dt>Name</dt>
    <dd><Hds::Badge @text={{@name}} @type="inverted" /></dd>
  </div>

  <div class="doc-component-api-type-required-group">
    <div class="doc-component-api-type">
      {{#if @type}}
        <dt>Type</dt>
        <dd class="hds-font-family-mono-code">{{@type}}</dd>
      {{/if}}
    </div>

    {{#if @isRequired}}
      <Hds::Badge @text="Required" class="doc-component-api-required" />
    {{/if}}
  </div>

  {{#if (and @default (not @values))}}
    <div class="doc-component-api-default">
      <dt>Default</dt>
      <dd><Hds::Badge @text={{@default}} @type="inverted" /></dd>
    </div>
  {{/if}}

  {{#if @values}}
    <div class="doc-component-api-values">
      <dt>Values</dt>
      <dd>
        {{#each @values as |value|}}
          <Hds::Badge
            @text={{value}}
            @type={{if (eq value @default) "inverted" "filled"}}
          />
        {{/each}}
      </dd>
    </div>
  {{/if}}

  {{#if (has-block)}}
    <div class="doc-component-api-description">
      <dt>Description</dt>
      <dd>{{yield}}</dd>
    </div>
  {{/if}}
</dl>