{{!
  Copyright (c) HashiCorp, Inc.
}}

<div class='cut-filter-bar' aria-label='Filter bar'>
  <div class='cut-filter-bar-filters'>
    <div class='cut-filter-bar-filtergroup'>
      {{yield
        (hash
          FilterGroup=(component
            'cut/filter-bar/filter-group'
            toggle=this.toggleFilterValue
            softToggle=this.softToggleFilterValue
            applyFilter=this.applyFilter
            onSearchInput=this.onSearchInput
            onSearchKeyup=this.onSearchKeyup
            isChecked=this.isCheckboxChecked
            config=@config
            localConfig=@localConfig
          )
          Filter=(component
            'cut/filter-bar/filter'
            toggle=this.toggleFilterValue
            softToggle=this.softToggleFilterValue
            applyFilter=this.applyFilter
            isChecked=this.isCheckboxChecked
            config=@config
            localConfig=@localConfig
          )
          Generic=(component
            'cut/filter-bar/generic'
            toggle=this.toggleFilterValue
            softToggle=this.softToggleFilterValue
            applyFilter=this.applyFilter
            config=@config
            localConfig=this.localConfig
          )
          Search=(component
            'cut/filter-bar/search'
            onSearchInput=this.onSearchInput
            onSearchKeyup=this.onSearchKeyup
          )
        )
      }}
    </div>

    {{yield
      (hash
        SortGroup=(component
          'cut/filter-bar/sort-group'
          toggle=this.toggleFilterValue
          softToggle=this.softToggleFilterValue
          applyFilter=this.applyFilter
          onSearchInput=this.onSearchInput
          onSearchKeyup=this.onSearchKeyup
          isChecked=this.isCheckboxChecked
          config=@config
          localConfig=this.localConfig
          onSortChange=this.onSortChange
        )
        Sort=(component
          'cut/filter-bar/sort'
          config=this.localConfig
          onSortChange=this.onSortChange
        )
      )
    }}
  </div>

  <div class='cut-filter-bar-results'>
    {{#let (if @count @count 0) as |count|}}
      <p class='cut-filter-bar-results-count'>Showing
        {{pluralize count 'result'}}</p>
    {{/let}}

    {{#each this.appliedFilters as |filter|}}
      <p class='cut-filter-bar-applied-filter-label'>{{this.titlecase
          filter.name
        }}:</p>

      {{#each filter.value as |filterValue|}}
        <Hds::Tag
          @text={{this.titlecase filterValue.text}}
          @onDismiss={{fn
            this.toggleFilterValue
            (hash
              filterName=filter.name
              text=filterValue.text
              value=filterValue.value
              isMultiSelect=filter.isMultiSelect
            )
          }}
        />
      {{/each}}
    {{/each}}

    {{#if (gt this.appliedFilters.length 0)}}
      <Hds::Button
        @text='Clear filters'
        @color='tertiary'
        @icon='x'
        @type='button'
        {{on 'click' this.clearFilters}}
      />
    {{/if}}
  </div>
</div>