{{!
  Copyright (c) HashiCorp, Inc.
}}

<form class='cut-filter-bar' name='Filter bar' {{on 'submit' this.onSubmit}} ...attributes>
  <div class='cut-filter-bar-filters'>
    <div class='cut-filter-bar-filtergroup'>
      {{yield
        (hash
          FilterGroup=(component
            'cut/filter-bar/filter-group'
            toggle=this.toggleFilterValue
            softToggle=this.softToggleFilterValue
            applyFilter=this.applyFilter
            onSearchInput=this.onSearchInput
            onSearchKeyup=this.onSearchKeyup
            clearPendingFilter=this.clearPendingFilter
            isChecked=this.isChecked
            config=@config
            localConfig=this.localConfig
          )
          Filter=(component
            'cut/filter-bar/filter'
            toggle=this.toggleFilterValue
            softToggle=this.softToggleFilterValue
            applyFilter=this.applyFilter
            clearPendingFilter=this.clearPendingFilter
            isChecked=this.isChecked
            config=@config
            localConfig=this.localConfig
          )
          Generic=(component
            'cut/filter-bar/generic'
            toggle=this.toggleFilterValue
            softToggle=this.softToggleFilterValue
            applyFilter=this.applyFilter
            clearPendingFilter=this.clearPendingFilter
            isChecked=this.isChecked
            config=@config
            localConfig=this.localConfig
          )
          Search=(component
            'cut/filter-bar/search'
            search=@config.search.value
            onSearchInput=this.onSearchInput
            onSearchKeyup=this.onSearchKeyup
          )
        )
      }}
    </div>

    {{yield
      (hash
        SortGroup=(component
          'cut/filter-bar/sort-group'
          toggle=this.toggleFilterValue
          softToggle=this.softToggleFilterValue
          applyFilter=this.applyFilter
          clearPendingFilter=this.clearPendingFilter
          onSearchInput=this.onSearchInput
          onSearchKeyup=this.onSearchKeyup
          isChecked=this.isChecked
          config=@config
          localConfig=this.localConfig
          onSortChange=this.onSortChange
        )
        Sort=(component
          'cut/filter-bar/sort'
          config=this.localConfig
          onSortChange=this.onSortChange
        )
      )
    }}
  </div>

  <div class='cut-filter-bar-results'>
    <p class='cut-filter-bar-results-count' data-test-filter-bar-results>
      {{#if this.hasCount}}
        Showing
        {{pluralize @count (if @name @name 'result')}}{{if
          @totalCount
          (concat ' of ' @totalCount)
        }}
      {{else if this.isFiltering}}
        Filters applied:
      {{else if (and this.isSearching this.appliedSearch)}}
        Showing results for {{this.appliedSearch}}
      {{else}}
        Showing all
        {{if @name (pluralize @name) 'results'}}
      {{/if}}
    </p>

    {{#each this.appliedFilters as |filter|}}
      <p class='cut-filter-bar-applied-filter-label'>{{titlecase
          filter.name
        }}:</p>

      {{#each filter.value as |filterValue|}}
        {{#if filter.isRequired}}
          <Hds::Tag @text={{titlecase filterValue.text}} />
        {{else}}
          <Hds::Tag
            @text={{titlecase filterValue.text}}
            @onDismiss={{fn
              this.toggleFilterValue
              (hash
                filterName=filter.name
                text=filterValue.text
                value=filterValue.value
                isMultiSelect=filter.isMultiSelect
              )
            }}
          />
        {{/if}}
      {{/each}}
    {{/each}}

    {{#if this.shouldShowClearFiltersButton}}
      <Hds::Button
        @text='Clear filters'
        @color='tertiary'
        @icon='x'
        @type='button'
        @size='small'
        {{on 'click' this.clearFilters}}
      />
    {{/if}}
  </div>
</form>