{{!
  Copyright (c) HashiCorp, Inc.
}}

<Cut::ListItem
  @href={{@href}}
  @isRouteExternal={{@isRouteExternal}}
  @route={{@route}}
  @model={{@model}}
  @models={{@models}}
  @isHrefExternal={{@isHrefExternal}}
  @query={{@query}}
  @replace={{@replace}}
  @onClick={{@onClick}}
  data-test-service-list-item
  as |L|
>
  <L.Content as |C|>
    <Cut::ListItem::Template as |T|>
      <T.Section as |SC|>
        <SC.Title data-test-service-name>{{@service.name}}</SC.Title>
        <SC.Metadata>
          <Cut::Metadata::ServiceHealthBadge
            @successCount={{@service.metadata.healthCheck.instance.success}}
            @warningCount={{@service.metadata.healthCheck.instance.warning}}
            @criticalCount={{@service.metadata.healthCheck.instance.critical}}
          />
          {{#if this.kindName}}
            <Cut::TextWithIcon
              @icon='gateway'
              @text={{this.kindName}}
              data-test-service-kind
            />
          {{/if}}
          {{#if this.isIngressGateway}}
            {{#if (not-eq @service.metadata.upstreamCount undefined)}}
              <!-- TODO: add translate with pluralize(CC-5314)-->
              <span
                data-test-associated-upstream-count
              >{{@service.metadata.upstreamCount}} upstreams</span>
            {{/if}}
          {{else if this.isTerminatingGateway}}
            {{#if (not-eq @service.metadata.linkedServiceCount undefined)}}
              <!-- TODO: add translate with pluralize (CC-5314) -->
              <span
                data-test-associated-service-count
              >{{@service.metadata.linkedServiceCount}} linked services</span>
            {{/if}}
          {{else}}
            {{#if (not-eq @service.metadata.instanceCount undefined)}}
              <!-- TODO: add translate with pluralize(CC-5314) -->
              <span
                data-test-associated-instance-count
              >{{@service.metadata.instanceCount}} instances</span>
            {{/if}}
          {{/if}}
          {{#if @service.metadata.isPermissiveMTls}}
            <!-- TODO: add translate(CC-5314) -->
            <Cut::TextWithIcon
              @icon='unlock'
              @text='permissive mTLS'
              data-test-permissive-mtls
            />
          {{else if
            (and
              (eq @service.metadata.isPermissiveMTls false)
              (not (eq @service.metadata.isPermissiveMTls undefined))
            )
          }}
            <Cut::TextWithIcon
              @icon='lock'
              @text='strict mTLS'
              data-test-strict-mtls
            />
          {{/if}}
          <Cut::Metadata::InServiceMesh
            @connectedWithGateway={{@service.metadata.connectedWithGateway}}
            @connectedWithProxy={{@service.metadata.connectedWithProxy}}
          />
          {{#if @service.metadata.samenessGroup}}
            <Cut::TextWithIcon
              @icon='collections'
              @text={{@service.metadata.samenessGroup}}
              data-test-sameness-group
            />
          {{/if}}
          {{#if @service.metadata.isImported}}
            <!-- TODO: add translate(CC-5314) -->
            <Cut::TextWithIcon
              @icon='upload'
              @text='Imported'
              data-test-imported
            />
          {{/if}}
          {{#if @service.metadata.externalSource}}
            <Cut::Metadata::ExternalSource
              @externalSource={{@service.metadata.externalSource}}
            />
          {{/if}}
          {{#if @service.metadata.tags.length}}
            <Cut::Metadata::Tags @tags={{@service.metadata.tags}} />
          {{/if}}
        </SC.Metadata>
      </T.Section>
    </Cut::ListItem::Template>
  </L.Content>
</Cut::ListItem>