{{!
  Copyright (c) HashiCorp, Inc.
}}
<li
  class='cut-list-item hds-surface-primary
    {{if (or @route @href @onClick) "hds-surface-mid" "hds-surface-base"}}'
  ...attributes
>
  {{#if (or @route @href @onClick)}}
    {{! cut-link is a class that is used in the structure override classes to avoid applying 
      extra styles to the link from structure. (https://github.com/hashicorp/structure/blob/d00c8bf39c22b5490a4c6fa8bae951b934432dfb/packages/pds-ember/app/styles/pds/_overrides.scss) }}
    <Hds::Interactive
      class='cut-link cut-list-item__content-container active'
      @href={{this.href}}
      @isRouteExternal={{@isRouteExternal}}
      @route={{this.route}}
      @isHrefExternal={{@isHrefExternal}}
      @query={{@query}}
      @replace={{@replace}}
      @model={{@model}}
      @models={{@models}}
      {{on 'click' this.onClickAction}}
      ...attributes
    >
      {{yield (hash Content=(component 'cut/list-item/content'))}}
    </Hds::Interactive>

  {{else}}
    {{yield (hash Content=(component 'cut/list-item/content'))}}
  {{/if}}

  {{yield
    (hash
      ActionButton=(component 'hds/button' size='small')
      ActionDropdown=(component 'hds/dropdown')
      ActionGeneric=(component 'cut/list-item/action-generic')
    )
  }}
</li>