{{!
  Copyright (c) HashiCorp, Inc.
}}
{{#if (or this.href this.route @onClick)}}
  <Hds::Interactive
    class="cut-list-item active hds-surface-mid"
    @href={{this.href}}
    @isRouteExternal={{@isRouteExternal}}
    @route={{this.route}}
    @isHrefExternal={{@isHrefExternal}}
    @query={{@query}}
    @replace={{@replace}}
    {{on 'click' this.onClickAction}}
    ...attributes
  >
    {{yield (hash Content=(component "cut/list-item/content"))}}
    {{yield (hash Action=(component "cut/list-item/action"))}}
  </Hds::Interactive>
{{else}}
  <div class="cut-list-item hds-surface-base" ...attributes>
    {{yield (hash Content=(component "cut/list-item/content"))}}
    {{yield (hash Action=(component "cut/list-item/action"))}}
  </div>
{{/if}}
