{{!
  Copyright (c) HashiCorp, Inc.
}}

{{! 
  Only pass in the items, pass config and actions directly into the filterbar
  Have pagination handle setting up the route stuff if it's passed into the component/
 }}
<div class='cut-list' ...attributes>
  <div class='cut-list--group'>

    {{yield (hash FilterBar=(component 'cut/filter-bar'))}}
    <div class='cut-list-contents'>
      {{#if (gt @items.length 0)}}
        <ul class='cut-list-items'>
          {{#each @items as |item|}}
            {{yield
              (hash
                item=item
                Generic=(component 'cut/list/contents/generic')
                ListItem=(component 'cut/list-item')
                ServiceListItem=(component 'cut/list-item/service')
                ServiceInstanceListItem=(component
                  'cut/list-item/service-instance'
                )
              )
            }}
          {{/each}}
        </ul>
      {{else}}
        {{yield
          (hash
            EmptyGeneric=(component 'cut/list/contents/empty')
            EmptyAppState=(component 'hds/application-state')
          )
        }}
      {{/if}}
    </div>
  </div>

  {{#if (gt @items.length 0)}}
    {{yield (hash Pagination=(component 'cut/list/pagination'))}}
  {{/if}}
</div>