{{!-- 
  <Cut::Pagination
    @pageSizes={{array 5 20 60}}
    @currentPageSize={{this.pageSize}}
    @nextToken={{this.nextToken}}
    @previousToken={{this.prevToken}}
    @route={{this.route}}
    @queryParams={{this.queryParams}}
    @onPageSizeChange
  />

  TODO:
  1. Hook up auto query function
  2. Hook up page size change 
 --}}
{{log (not @prevCursor)}}

<div class='cut-list-pagination' ...attributes>
  {{#if @onPageChange}}
    <Hds::Pagination::Compact
      class='cut-list-pagination_page-selector'
      @showLabels={{true}}
      @isDisabledPrev={{not @prevCursor}}
      @isDisabledNext={{not @nextCursor}}
      @onPageChange={{@onPageChange}}
    />
  {{else}}
    <Hds::Pagination::Compact
      class='cut-list-pagination_page-selector'
      @showLabels={{true}}
      @queryFunction={{this.queryFunction}}
      @route={{or @route this.router.currentRouteName}}
      @model={{@model}}
      @isDisabledPrev={{not @prevCursor}}
      @isDisabledNext={{not @nextCursor}}
    />
  {{/if}}

  {{#if (and @pageSizes @currentPageSize @onPageSizeChange)}}
    <Hds::Pagination::SizeSelector
      class='cut-list-pagination_size-selector'
      @pageSizes={{@pageSizes}}
      @label='Items per page'
      @selectedSize={{@currentPageSize}}
      @onChange={{@onPageSizeChange}}
    />
  {{/if}}
</div>